# Ignore meta and config files for language stats
*.meta linguist-vendored
*.asset linguist-vendored
*.mat linguist-vendored
*.unity linguist-vendored
*.prefab linguist-generated
*.unity linguist-generated
*.mat linguist-language=Unity
*.mat linguist-detectable=false
\*.wlt linguist-language=YAML
# Force C# as the main language
*.cs linguist-language=C#
